.comments {
    margin-top: 15px;
}

.pagination {
    text-align: center;
    margin-top: 15px;
}

.index-post {
    margin-top: 15px;
}

.about-archive {
    margin-top: 50px;
    border-top: solid 1px #ccc;
}